.portal {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  &-content {
    position: relative;
    width: 380px;
    height: 180px;
    background-color: #0a3a6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.close-btn {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  top: -5px;
  right: -30px;
  font-size: 24px;
  cursor: pointer;
  transition: .3s;
  color: #0d4888;
  font-weight: 700;
  &:hover {
    color: #1764b2;
  }
}

.btn-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.btn {
  width: 90px;
  height: 30px;
  color: #abaaaa;
  border: 1px solid #0b0c48;
  border-radius: 10px;
  background-color: #1c1e91;
  cursor: pointer;
  transition: .3s;
  &:hover {
    color: #fff;
    background-color: #2d2fc7;
    box-shadow: 0 0 5px 3px #0b0c48;
  }
}

.title {
  line-height: 1;
}