.products-list {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: space-between;
}

.inner-wrapper {
  color: #fff;
  font-size: 24px;
  display: flex;
  height: 50px;
  position: absolute;
  right: 40px;
  top: 0;
  gap: 15px;
}