.navbar {
  height: 50px;
  width: 100%;
  padding-left: 50px;
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  gap: 20px;
  font-style: italic;
  margin-bottom: 10px;
  &__link.active {
    color: #5064b2;
  }
}

.navbar a:nth-child(-n+2):after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fff;
  margin-left: 10px;
  top: 0;
}

.navbar a:hover {
  color: #2243cb;
  text-decoration: underline;
}