a {
  text-decoration: none;
  color: inherit;
  transition: .3s;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  height: 50px;
  width: 100%;
  padding-left: 50px;
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  gap: 20px;
  font-style: italic;
  margin-bottom: 10px;
  &__link.active {
    color: #5064b2;
  }
}

.navbar a:nth-child(-n+2):after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #fff;
  margin-left: 10px;
  top: 0;
}

.navbar a:hover {
  color: #2243cb;
  text-decoration: underline;
}